<div class="card">
  <div class="card-header">
      <img (click)="ans = 'Yes'; setAnswer()" class="img-circle" width="40" height="40" style="border-radius:138px;background-color:green"><span> Yes</span>
      <img (click)="ans = 'No'; setAnswer()" class="img-circle" width="40" height="40" style="border-radius:138px;background-color:red"><span> No</span>
      <img (click)="ans = 'NA'; setAnswer()" class="img-circle" width="40" height="40" style="border-radius:138px;background-color:orange"><span> NA </span>
  </div> 
</div>