<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img src = "/assets/sur2.jpg">
          <div class="collapse navbar-collapse" id="navbarsExampleDefault"> 
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="#" routerLink = "/surveypanel">Take Survey</a>
                </li>
                <li  class="nav-item" >
                  <a class="nav-link" href="#" routerLink = "/surveyresult">Results</a>
                </li>
                <li  class="nav-item" >
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
          </div>
    </div>
  </nav>
 